Temp/*
Library/*

*.pidb
*.userprefs
*.db
/*.sln
/*.suo
/*.unityproj
/*.csproj
/*.unityproj
*.DotSettings.user
obj/
*.pdb

StyleCop.Cache
bin/
obj/

/Code/Code.sln.ide
*.suo
*.orig
*.orig.meta
Code/Ninject/build/*
WindowsBuild/*
WindowsBuild64/*
log.txt
/MergeProblems.txt
.vs/
.kdev4/
*.kdev4
cstools-local/.phutil_module_cache
index.htm
WindowsBuild_x32.zip
WindowsBuild_x64.zip
